* {
	padding: 0;
	margin:0 ;
	font: 14px arial;
		color: #666;
}
body,html {
	padding:0;
	margin:0;

}
.uploadBlock {
    width: 200px;
    height: 100px;
    border: 1px solid #ccc;
    position: relative;
    padding: 5px;
    margin: 5px;
}
.uploadBlock .content {
    width:100%;
    height:100%;
    position:relative;
    overflow: hidden;
}
.uploadBlock .content img {
    width: 100%;
    position: absolute;
    z-index: -1;
}
.uploadBlock .content img.res {
    z-index: 2;
}
.progressbarWrapper {
    height: 4%;
    position: absolute;
    overflow: hidden;
    border-radius: 5px;
    padding: 2px;
    bottom: 10px;
    background: #ccc;
    opacity: 0.7;
    left: 10px;
    right: 10px;

}
.progressbar {
    background: rgb(28, 158, 245);
    text-align: center;
    height: 100%;
    color: white;
    border-radius: 3px;
}
.imageCanvas {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;

}
#img_tmp {
    display:none;
}
.image_tmp {


}
.uploadBlockWrapper {
    border:1px solid #ccc;
    float: left;
    display: inline-block;
    position: relative;
	margin: 5px;
	background: #eeeeee;
	
}
.uploadBlock .info {
    margin-top: 15px;
}
.uploadBlockWrapper .info #save_bt {
    width: 95%;
    height: 30px;
    border: 1px solid #ccc;
    margin: 5px;
    background: #eee;
    border-radius: 5px;
}
.uploadBlockWrapper .info .info_input input{float: right;
                                            background: #e0e0e0;
                                            border-radius: 5px;
                                            border: 1px solid #ccc;
											width: 60%;
}
.uploadBlockWrapper .info .info_input {
    clear: both;
    width: 95%;
    margin: 5px;
    display: block;

}
.uploadBlockWrapper .delete_bt {
    position: absolute;
    width:20px;
    height:20px;
    background: #ccc;
    border:1px solid #555;
    z-index: 3;
    right:0;
    text-align: center;
}
.product-video {
        height: 100%;
    width: 100%;
}
.product-image {
    height: 100%;
    width: 100%;
}
.product-wrapper {
	width: 100%;
	height: 35px;
}
.product-table {
	border-collapse : collapse;
}
.product-table tr td { 
	border: 1px solid #ccc;
}
.product-table td {
    position: relative;
	min-width:150px;
	width: 150px;
}
.product-table td .progressbar {
    width:0;
}
.product-td-editable:hover {
		background: #eeeeee;
}
.product-td:hover  .bt_change_product{
	display:block;

	cursor: pointer;
}
.bt_change_product {
	position: absolute;
	text-align: center;
	left: 5px;
	display: none;
	background: rgba(0,0,0,0.7);
	top: 22%;
	color: #ccc;
	border: 1px solid #111;
	border-radius: 3px;
	width: 65px;
}
.editable {
	padding: 5px;
	cursor: pointer;
}
.editable:hover {
}
.editablePlacehold {
	width:100%;
	border:none;
	background:#eeeeee;
}
.table {
	margin-top:10px;
	padding:0px;
	margin-right: 20px;
}
.table table{
	width:100%;
*border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0; 
	border-right: solid #ccc 1px;
	border-bottom: solid #ccc 1px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
	
}
.table table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
.table table th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.table table th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.table table  th:last-child {
-moz-border-radius: 0 6px 0 0;
-webkit-border-radius: 0 6px 0 0;
border-radius: 0 6px 0 0;
}
.table table th:first-child {
-moz-border-radius: 6px 0 0 0;
-webkit-border-radius: 6px 0 0 0;
border-radius: 6px 0 0 0;
}
.table tr {
	background: whitesmoke;
}
.table tr:hover
{
  background: #fbf8e9;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;     
}
.table th {
background-color: #dce9f9;
background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
background-image: linear-gradient(top, #ebf3fc, #dce9f9);
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
-moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
border-top: none;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.table td, .table th {
border-left: 1px solid #ccc;
border-top: 1px solid #ccc;
padding: 10px;
text-align: left;
}
.table  tr:last-child td:first-child {
-moz-border-radius: 0 0 0 6px;
-webkit-border-radius: 0 0 0 6px;
border-radius: 0 0 0 6px;
}
.table  tr:last-child td:last-child {
-moz-border-radius: 0 0 6px 0;
-webkit-border-radius: 0 0 6px 0;
border-radius: 0 0 6px 0;
}
.main {
margin-left: 220px;
padding-top:10px;
}
.navi {
	float: left;
width: 200px;
height: 100%;
background: #e0e0e0;
border-right: 1px solid #ccc;
}
.navi ul {
}
.navi ul li a {
	text-decoration: none;
		padding: 10px 10px 10px 20px;
		display: block;
}
.navi ul li {

	border-bottom: 1px solid #ccc;
}
.navi ul li:hover,.navi ul li:active,.navi ul li:visited {
	background:#ccc;
	color: #000;
	cursor: pointer;
}
.navi .logo {
	text-align: center;
	padding: 10px;
	background: #eee;
	border-bottom: 1px solid #ccc;
}


.ml-button-1 {
	background-color: #F3F3F3;
	border: 1px solid #ACACAC;
	-moz-box-shadow:inset 0px 0px 1px rgba(187,187,187,1);
	-webkit-box-shadow:inset 0px 0px 1px rgba(187,187,187,1);
	box-shadow:inset 0px 0px 1px rgba(187,187,187,1);
	background-image: -o-linear-gradient(90deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
	background-image: linear-gradient(90deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
	color: #2B2C2B;
	text-shadow: rgba(254,254,254,0.5) 0px 1px 0px;
}
/*Hover*/
.ml-button-1:hover {
	background-color: #FFFFFF;
	background-image: -o-linear-gradient(90deg , rgb(246,246,246) 0%, rgb(254,254,254) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(246,246,246) 0%, rgb(254,254,254) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(246,246,246) 0%, rgb(254,254,254) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(246,246,246) 0%, rgb(254,254,254) 100%);
	background-image: linear-gradient(90deg , rgb(246,246,246) 0%, rgb(254,254,254) 100%);
}
a.ml-button-1 ,input.ml-button-1 {
	display: block;
	padding: 0 10px;
	height: 35px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-align: center;
	line-height: 35px;
	text-decoration: none;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 10pt;
	float: left;
	margin: 10px 20px 10px 0;
}
input.ml-button-1 {
	float:none;
}
/*Active*/
.ml-button-1:active {
	background-color: #F9F9F9;
	-moz-box-shadow:inset 0px 0px 5px rgba(187,187,187,1);
	-webkit-box-shadow:inset 0px 0px 5px rgba(187,187,187,1);
	box-shadow:inset 0px 0px 5px rgba(187,187,187,1);
	background-image: -o-linear-gradient(90deg , rgb(254,254,254) 0%, rgb(246,246,246) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(254,254,254) 0%, rgb(246,246,246) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(254,254,254) 0%, rgb(246,246,246) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(254,254,254) 0%, rgb(246,246,246) 100%);
	background-image: linear-gradient(90deg , rgb(254,254,254) 0%, rgb(246,246,246) 100%);
	text-shadow: none;
}
.pagging{
	text-align: center;
	margin-top:20px;
}
.pagging ul {
	list-style: none;
}
.pagging ul li.selected  a{
	background: #ddd;
}
.pagging ul li {
	display: inline;
		margin: 5px;
}
.pagging ul li a{
	text-decoration: none;
	padding: 7px;
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
